<section id="beer-name-input">
  <form action="/beers" method="post">
    <input type="text" class="form-control" name="beer_name" placeholder="Please enter a beer name" required>
    <button type="submit"  id="beer_search" value=""><i class="fa fa-search" aria-hidden="true"></i></button>
  </form>
</section>
<article class="brewery-large-card">
  <div class="inner-wrapper">
    <h2><a href="<%= @brewery[:website] %>"><%= @brewery[:name] %></a></h2>
    <figure class="brewery-logo">
      <a href="<%= @brewery[:website] %>"><img src="<%= @brewery[:images][:large] %>" alt="<%= @brewery[:name] %> logo" /></a>
    </figure>
    <p class="brewery-description">
      <%= @brewery[:description] %>
    </p>
  </div>
</article>
<h3 class="section-header">More beers from this brewery</h3>
<% @all_beers.each do |beer| %>
<article class="brewery-beer-card">
  <div class="inner-wrapper">
    <table class="beer-stats">
      <tr>
        <td class="label">
          Name
        </td>
        <td class="value beer-name">
          <a href="#"><%= beer[:name_display] %></a>
        </td>
      </tr>
      <tr>
        <td class="label">
          Brewery
        </td>
        <td class="value brewery-name tooltip">
          <span><%= @brewery[:name] %></span> 
          <div class="tooltip-info">
            <ul>
                <li><a href="#"><%= @brewery[:website] %></a></li>
              <li><%= @brewery[:description] %></li>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td class="label">
          Style
        </td>
        <td class="value beer-style tooltip">
          <span><%= beer[:style][:short_name] %></span>
          <div class="tooltip-info">
            <%= beer[:style][:description] %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="label">
          IBU
        </td>
        <td class="value beer-ibu">
          <%= beer[:ibu] %>
        </td>
      </tr>
      <tr>
        <td class="label">
          ABV
        </td>
        <td class="value beer-abv">
          <%= beer[:abv] %>%
        </td>
      </tr>
    </table>
  </div>
</article>

<% end %>
