<div class="row">
  <div class="col-lg-6">
    <h3>Current Store Name: <%= @store.name() %></h3>
  </div>
  <div class="col-lg-6">
    <div class="well bs-component">
      <form class="form-horizontal" action="/store/<%= @store.id() %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <fieldset>
          <legend>Update Name Here</legend>
          <div class="form-group">
            <label for="new_name" class="col-lg-3 control-label">Update Name</label>
            <div class="col-lg-9">
              <input type="text" class="form-control" name="new_name" id="new_name" placeholder="name">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <% if @brands.any? %>
    <h3> Here are all the brands this store carrys </h3>
    <ul class="brands-list">
    <% @brands.each() do |brand| %>
      <form action="/brand/<%= brand.id()%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="store_id" value="<%= @store.id() %>">
          <button class="ingredient-btn btn btn-danger"type="submit">X</button>
      </form>
      <li><%= brand.name() %></li>
      <% end %>
    </ul>
    <% else %>
    <h3> There are no brands in your recipe </h3>
    <% end %>
  </div>
  <div class="col-lg-6">
    <div class="well bs-component">
      <form class="form-horizontal" action="<%= @store.id() %>/brands" method="post">
        <fieldset>
          <legend>Add a Brand Here</legend>
          <div class="form-group">
            <label for="brand_name" class="col-lg-3 control-label">Brand Name</label>
            <div class="col-lg-9">
              <input type="text" class="form-control" name="brand_name" id="brand_name" placeholder="name">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">
              <button type="submit" class="btn btn-primary">Add Brand</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <h3>Remove this store from the database</h3>
  </div>
  <div class="col-lg-6">
    <div class="well bs-component">
      <form class="form-horizontal" action="/store/<%= @store.id() %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <fieldset>
          <legend>Delete this store</legend>
          <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">
              <button type="submit" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
